Repository SongThun/sa-its: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-hooks, frontend-hooks

backend-hooks:
  name: Backend pre-commit
  entry: bash -c 'cd backend && pre-commit run; cd -'
  language: system
  pass_filenames: false

frontend-hooks:
  name: Frontend lint-staged
  entry: bash -c 'cd frontend && npx lint-staged; cd -'
  language: system
  pass_filenames: false

[c] clean up
  .gitignore
  .pre-commit-config.yaml
  backend/.pre-commit-config.yaml
  backend/config/settings.py
  backend/manage.py
  backend/requirements.txt
  frontend/.lintstagedrc.json
  frontend/package-lock.json
  frontend/package.json
Due: backend-hooks, frontend-hooks

[f] add swagger UI for api docs
  backend/config/settings.py
  backend/config/urls.py
  backend/docker-compose.yml
  backend/requirements.txt
Due: backend-hooks

[c] update README
  backend/README.md
Due: backend-hooks

[f] basic user authentication with comprehensive test
  README.md
  backend/.coveragerc
  backend/apps/authentication/__init__.py
  backend/apps/authentication/admin.py
  backend/apps/authentication/apps.py
  backend/apps/authentication/migrations/0001_initial.py
  backend/apps/authentication/migrations/__init__.py
  backend/apps/authentication/models.py
  backend/apps/authentication/serializers.py
  backend/apps/authentication/tests/__init__.py
  backend/apps/authentication/tests/test_models.py
  backend/apps/authentication/tests/test_serializers.py
  backend/apps/authentication/tests/test_views.py
  backend/apps/authentication/urls.py
  backend/apps/authentication/views.py
  backend/config/settings.py
  backend/config/urls.py
  backend/conftest.py
  backend/pytest.ini
  backend/requirements.txt
Due: backend-hooks

[c] setup test ci
  .github/workflows/test.yml
Due: none

[c] update README
  README.md
  backend/docker-compose.yml
  backend/run
Due: backend-hooks

[c] fix pre-commit hook
  .pre-commit-config.yaml
  backend/.pre-commit-config.yaml
  frontend/.gitignore
  frontend/.lintstagedrc.json
  frontend/README.md
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: backend-hooks, frontend-hooks

[f] add frontend pages
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/Navbar.css
  frontend/src/components/Navbar.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/data/mockData.ts
  frontend/src/index.css
  frontend/src/pages/Auth.css
  frontend/src/pages/CourseDetail.css
  frontend/src/pages/CourseDetail.tsx
  frontend/src/pages/Courses.css
  frontend/src/pages/Courses.tsx
  frontend/src/pages/Dashboard.css
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Lesson.css
  frontend/src/pages/Lesson.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Profile.css
  frontend/src/pages/Profile.tsx
  frontend/src/pages/Register.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: frontend-hooks

migration
  backend/apps/authentication/migrations/0002_alter_user_managers.py
  backend/apps/content/migrations/0001_initial.py
  backend/apps/content/migrations/__init__.py
  backend/apps/learning_activities/migrations/0001_initial.py
  backend/apps/learning_activities/migrations/__init__.py
Due: backend-hooks

[c] remove entrypoint script, add jwt blacklist
  backend/Dockerfile
  backend/config/settings.py
  backend/docker-compose.yml
  backend/entrypoint.sh
  backend/run
Due: backend-hooks

fix authentication
  backend/apps/authentication/models.py
  backend/apps/authentication/serializers.py
  backend/apps/authentication/services/__init__.py
  backend/apps/authentication/services/authentication_service.py
  backend/apps/authentication/services/base.py
  backend/apps/authentication/services/password_service.py
  backend/apps/authentication/services/profile_service.py
  backend/apps/authentication/services/registration_service.py
  backend/apps/authentication/tests/test_serializers.py
  backend/apps/authentication/tests/test_services.py
  backend/apps/authentication/tests/test_views.py
  backend/apps/authentication/urls.py
  backend/apps/authentication/views.py
  backend/config/urls.py
Due: backend-hooks

fix pre-commit
  backend/apps/authentication/migrations/0002_alter_user_managers.py
  backend/apps/authentication/serializers.py
  backend/apps/authentication/services/authentication_service.py
  backend/apps/authentication/services/profile_service.py
  backend/apps/content/migrations/0001_initial.py
  backend/apps/learning_activities/migrations/0001_initial.py
Due: backend-hooks

content frontend backend
  backend/apps/authentication/migrations/0001_initial.py
  backend/apps/authentication/migrations/0002_alter_user_managers.py
  backend/apps/authentication/migrations/0002_user_role.py
  backend/apps/authentication/models.py
  backend/apps/authentication/permissions.py
  backend/apps/authentication/serializers.py
  backend/apps/authentication/services/authentication_service.py
  backend/apps/authentication/views.py
  backend/apps/content/admin.py
  backend/apps/content/migrations/0001_initial.py
  backend/apps/content/migrations/0002_initial.py
  backend/apps/content/models.py
  backend/apps/content/serializers.py
  backend/apps/core/__init__.py
  backend/apps/core/admin.py
  backend/apps/core/apps.py
  backend/apps/core/migrations/0001_initial.py
  backend/apps/core/migrations/__init__.py
  backend/apps/core/models.py
  backend/apps/core/serializers.py
  backend/apps/core/services.py
  backend/apps/core/urls.py
  backend/apps/core/views.py
  backend/apps/learning_activities/migrations/0001_initial.py
  backend/config/settings.py
  backend/config/urls.py
  frontend/src/App.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/instructor/CourseForm.tsx
  frontend/src/pages/instructor/InstructorDashboard.tsx
  frontend/src/pages/instructor/InstructorLogin.tsx
  frontend/src/pages/instructor/InstructorRegister.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-hooks, frontend-hooks

[c] refactor modules
  backend/apps/authentication/apis.py
  backend/apps/authentication/models.py
  backend/apps/authentication/services/authentication_service.py
  backend/apps/authentication/services/profile_service.py
  backend/apps/authentication/urls.py
  backend/apps/content/API_ENDPOINTS.md
  backend/apps/content/apis/__init__.py
  backend/apps/content/apis/course_apis.py
  backend/apps/content/apis/instructor_apis.py
  backend/apps/content/apis/public_apis.py
  backend/apps/content/models.py
  backend/apps/content/permissions.py
  backend/apps/content/serializers.py
  backend/apps/content/serializers/__init__.py
  backend/apps/content/serializers/course_serializers.py
  backend/apps/content/serializers/lesson_serializers.py
  backend/apps/content/serializers/module_serializers.py
  backend/apps/content/services/course_services.py
  backend/apps/content/services/lesson_services.py
  backend/apps/content/services/module_services.py
  backend/apps/content/urls.py
  backend/apps/content/views.py
  backend/docker-compose.yml
  frontend/src/App.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/instructor/InstructorLanding.tsx
  frontend/src/pages/instructor/InstructorLogin.tsx
  frontend/src/pages/instructor/InstructorRegister.tsx
  sa-its-ERD.drawio.png
  sa-its-ModuleView-Final.drawio.png
Due: backend-hooks, frontend-hooks

fix content
  backend/apps/content/apis/__init__.py
  backend/apps/content/apis/category.py
  backend/apps/content/apis/course.py
  backend/apps/content/apis/lesson.py
  backend/apps/content/apis/module.py
  backend/apps/content/migrations/0004_remove_lesson_order_unique_constraint.py
  backend/apps/content/migrations/0005_update_ordering_to_include_created_at.py
  backend/apps/content/models.py
  backend/apps/content/permissions.py
  backend/apps/content/serializers.py
  backend/apps/content/services.py
  backend/apps/content/services/__init__.py
  backend/apps/content/services/course.py
  frontend/src/pages/instructor/ModulesContent.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: backend-hooks, frontend-hooks

add enrollment
  backend/apps/content/apis/course.py
  backend/apps/content/services.py
  backend/apps/learning_activities/__init__.py
  backend/apps/learning_activities/admin.py
  backend/apps/learning_activities/apis.py
  backend/apps/learning_activities/apps.py
  backend/apps/learning_activities/migrations/0001_initial.py
  backend/apps/learning_activities/migrations/__init__.py
  backend/apps/learning_activities/models.py
  backend/apps/learning_activities/serializers.py
  backend/apps/learning_activities/services.py
  backend/apps/learning_activities/urls.py
  backend/config/settings.py
  backend/config/urls.py
  backend/data/fixtures/enrollments.json
  backend/data/seed.py
  backend/docker-compose.yml
  frontend/src/pages/CourseDetail.tsx
  frontend/src/pages/Dashboard.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/services/api.ts
Due: backend-hooks, frontend-hooks

prepare prod
  backend/.env.example
  backend/Dockerfile
  backend/config/settings.py
  backend/requirements.txt
Due: backend-hooks

check deployment
  backend/.dockerignore
  backend/Dockerfile
  backend/config/settings.py
Due: backend-hooks

remove docker log'
  backend/Dockerfile
Due: backend-hooks

fix frontend
  frontend/src/components/Navbar.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/data/mockData.ts
  frontend/src/pages/CourseDetail.tsx
  frontend/src/pages/Courses.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/Lesson.tsx
  frontend/src/pages/instructor/CourseForm.tsx
  frontend/src/pages/instructor/InstructorDashboard.tsx
  frontend/src/pages/instructor/InstructorRegister.tsx
  frontend/src/services/api.ts
  frontend/src/types/index.ts
Due: frontend-hooks

change title
  frontend/index.html
Due: frontend-hooks

change icon
  frontend/index.html
  frontend/public/favicon.svg
Due: frontend-hooks

fix register
  frontend/src/contexts/AuthContext.tsx
  frontend/src/services/api.ts
Due: frontend-hooks

Update README.md
  README.md
Due: none

[r] refactor content facade
  backend/apps/content/apis/course.py
  backend/apps/content/apis/lesson.py
  backend/apps/content/apis/module.py
  backend/apps/content/services.py
Due: backend-hooks

refactor content module
  backend/apps/content/apis/__init__.py
  backend/apps/content/apis/category.py
  backend/apps/content/apis/course.py
  backend/apps/content/apis/lesson.py
  backend/apps/content/apis/module.py
  backend/apps/content/apis/topic.py
  backend/apps/content/models.py
  backend/apps/content/services.py
  backend/apps/content/services/__init__.py
  backend/apps/content/services/course.py
  backend/apps/content/services/facade.py
  backend/apps/content/services/lesson.py
  backend/apps/content/services/mixins.py
  backend/apps/content/services/module.py
  backend/apps/core/__init__.py
  backend/apps/core/apps.py
  backend/apps/core/models/__init__.py
  backend/apps/core/models/mixins.py
  backend/apps/learning_activities/apis.py
  backend/apps/learning_activities/models.py
  backend/apps/learning_activities/services.py
  backend/config/settings.py
Due: backend-hooks

modifiable category and topic
  backend/apps/content/apis.py
Due: backend-hooks

fix error handling
  frontend/src/services/api.ts
  frontend/src/services/apiClient.ts
Due: frontend-hooks

fix serializer
  .playwright-mcp/frontend-theme-check.png
  backend/apps/content/serializers.py
Due: backend-hooks

fix publish views
  backend/apps/content/apis.py
Due: backend-hooks

fix username
  backend/apps/authentication/services/authentication_service.py
Due: backend-hooks

Path conditions:
  backend-hooks: any of: ^backend/
  frontend-hooks: any of: ^frontend/
